includes:
    - config/phpstan/common.neon
    - phpstan-baseline.neon
parameters:
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - %currentWorkingDirectory%/vendor/symplify/easy-coding-standard/vendor
    paths:
        - src
