parameters:
    level: max
    bootstrapFiles:
        - vendor/autoload.php
    scanDirectories:
        - vendor/symplify/easy-coding-standard/vendor
    fileExtensions:
        - php
        - phtml
    parallel:
        jobSize: 64
        maximumNumberOfProcesses: 256
        minimumNumberOfJobsPerProcess: 4
        processTimeout: 240.0
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
